In [13]:
import pandas as pd
import numpy as np

In [14]:
datas = pd.read_excel('Lead+car+data.xlsx')

In [15]:
datas

,Time (second),Position (meter) of lead car,speed of lead car,Position (meter) of follow car,speed of follow car,acceleration
0,0,2000,0,-102.0,0.0,NaN
1,1,2000,0,NaN,NaN,NaN
2,2,2000,0,NaN,NaN,NaN
3,3,2000,0,NaN,NaN,NaN
4,4,2000,0,NaN,NaN,NaN
...,...,...,...,...,...,...
496,496,9300,0,NaN,NaN,NaN
497,497,9300,0,NaN,NaN,NaN
498,498,9300,0,NaN,NaN,NaN
499,499,9300,0,NaN,NaN,NaN
500,500,9300,0,NaN,NaN,NaN

In [19]:
for i in range(0,500):
    s = datas.iloc[i,1]-datas.iloc[i,3]
    v = datas.iloc[i,4]
    smin = 6 * (v/4.47 + 1)
#     print(smin)
    if s<smin:
        datas.iloc[i+1,4] = max(0,v-6)
        datas.iloc[i,5] = -6
    else:
        datas.iloc[i+1,4] = min(30,v+4)
        datas.iloc[i,5] = 4
    datas.iloc[i+1,3] = datas.iloc[i,3]+datas.iloc[i+1,4]

In [20]:
datas.to_excel('output.xlsx',index  =False)