In [1]:
import pandas as pd
import random
from line_path import data

# 保存线路轨迹

In [11]:
# 保存线路数据用于作图
line_info = []

for line, path in data.items():
    for point in path:
        line_info.append([line, *point])

In [12]:
line_info[0:5]

[['4路', 104.144298, 30.628688],
 ['4路', 104.143363, 30.626593],
 ['4路', 104.14295, 30.626011],
 ['4路', 104.143848, 30.625453],
 ['4路', 104.14385, 30.625447]]

In [14]:
w = pd.DataFrame(line_info, columns=['line', 'lng', 'lat'])
w.to_csv('../data/line-path.csv', index=False)
w.head()

  line         lng        lat
0   4路  104.144298  30.628688
1   4路  104.143363  30.626593
2   4路  104.142950  30.626011
3   4路  104.143848  30.625453
4   4路  104.143850  30.625447

# 线路起终点

In [15]:
terminals = []

for line in data:
    path = data[line]
    start_lng, start_lat = path[0]
    end_lng, end_lat = path[-1]
    
    terminals.append([line, start_lng, start_lat, 'terminal'])
    terminals.append([line, end_lng, end_lat, 'terminal'])

print(len(terminals))
terminals[0:5]

248

[['4路', 104.144298, 30.628688, 'terminal'],
 ['4路', 104.013138, 30.704601, 'terminal'],
 ['5路', 104.163372, 30.665273, 'terminal'],
 ['5路', 104.011669, 30.673279, 'terminal'],
 ['6路', 104.127622, 30.685443, 'terminal']]

# 从terminal中产生20个潜在的公交场站

In [16]:
random.seed(4)
depots = random.sample(terminals, 20)
depots[0:5]

[['35路', 103.976832, 30.688767, 'terminal'],
 ['43路', 104.063147, 30.656359, 'terminal'],
 ['15路', 104.075781, 30.695378, 'terminal'],
 ['112路', 104.168465, 30.711826, 'terminal'],
 ['58路', 103.961616, 30.664789, 'terminal']]

# 生成表格并保存

In [17]:
df1 = pd.DataFrame(terminals, columns=['line', 'lng', 'lat', 'type'])
df2 = pd.DataFrame(depots, columns=['line', 'lng', 'lat', 'type'])
df2['type'] = 'depot'
df = pd.concat([df2, df1])
df['id'] = range(len(df))
df.head()

   line         lng        lat   type  id
0   35路  103.976832  30.688767  depot   0
1   43路  104.063147  30.656359  depot   1
2   15路  104.075781  30.695378  depot   2
3  112路  104.168465  30.711826  depot   3
4   58路  103.961616  30.664789  depot   4

In [18]:
df.to_csv('../data/terminal-and-depots.csv', index=False)