In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 创建数据

In [3]:
w = pd.DataFrame({'name':['Verne Raymond','Chapman Becher','Patrick George','Saxon MacArthur'],
                         'age':[18,22,21,16],
                 'memo': ['成绩88', '成绩为：86.5', '成绩为：92', '成绩为：98']})
w

              name  age      memo
0    Verne Raymond   18      成绩88
1   Chapman Becher   22  成绩为：86.5
2   Patrick George   21    成绩为：92
3  Saxon MacArthur   16    成绩为：98

## 字符串处理方法

类似Python处理字符串的方法

与Python内置的字符串处理方法类似，包含以下函数：

<img src="../data/pandas-str-basic.png" alt="drawing" width="600px"/>

In [7]:
w.name.str.len()

0    13
1    14
2    14
3    15
Name: name, dtype: int64

In [8]:
w.name.str.startswith('V')

0     True
1    False
2    False
3    False
Name: name, dtype: bool

In [9]:
w[w.name.str.startswith('V')]

            name  age  memo
0  Verne Raymond   18  成绩88

In [11]:
# 字符串切片
w.name.str[0:5]

0    Verne
1    Chapm
2    Patri
3    Saxon
Name: name, dtype: object

## 使用正则表达式方法

<img src="../data/pandas-str-regrex.png" alt="drawing" width="600px"/>

In [12]:
w['name'].str.replace(' ','-')

0      Verne-Raymond
1     Chapman-Becher
2     Patrick-George
3    Saxon-MacArthur
Name: name, dtype: object

In [13]:
w['name'].str.contains('on')

0     True
1    False
2    False
3     True
Name: name, dtype: bool

In [14]:
w['score'] = w.memo.str.extract('(\d+\.?\d*)')
w

              name  age      memo score
0    Verne Raymond   18      成绩88    88
1   Chapman Becher   22  成绩为：86.5  86.5
2   Patrick George   21    成绩为：92    92
3  Saxon MacArthur   16    成绩为：98    98