In [1]:
import pandas as pd
from line_path import data
import numpy as np
import random

In [2]:
line_info = []

for line, points in data.items():
    for points in points:
        line_info.append([line,*points])

In [3]:
line_info[0:5]

[['150路', 104.132192, 30.711697],
 ['150路', 104.132648, 30.711576],
 ['150路', 104.132721, 30.711536],
 ['150路', 104.132778, 30.711493],
 ['150路', 104.132826, 30.711424]]

In [4]:
s = pd.DataFrame(line_info,columns=['line','lng','lat'])
s.head()

   line         lng        lat
0  150路  104.132192  30.711697
1  150路  104.132648  30.711576
2  150路  104.132721  30.711536
3  150路  104.132778  30.711493
4  150路  104.132826  30.711424

In [5]:
OD = []

for line in data:
    path = data[line]
    start_lng, start_lat = path[0]
    end_lng, end_lat = path[-1]
    
    OD.append([line,start_lng, start_lat,'O'])
    OD.append([line,end_lng, end_lat,'D'])

In [6]:
OD[0:5]

[['150路', 104.132192, 30.711697, 'O'],
 ['150路', 104.101897, 30.710647, 'D'],
 ['151路', 104.040253, 30.653238, 'O'],
 ['151路', 103.976888, 30.600972, 'D'],
 ['153路', 104.042038, 30.640364, 'O']]

In [7]:
random.seed(3)
depots = random.sample(OD,20)
depots[0:5]

[['194路', 104.030006, 30.615915, 'O'],
 ['259路', 104.103368, 30.547144, 'D'],
 ['247路', 104.078329, 30.616545, 'D'],
 ['173路', 103.920105, 30.802135, 'D'],
 ['208路', 103.980525, 30.612064, 'O']]

In [8]:
df1 = pd.DataFrame(OD, columns=['line','lng','lat','type'])
df2 = pd.DataFrame(depots, columns=['line','lng','lat','type'])

df2['type'] = 'depot'
df = pd.concat([df2,df1])
df['id'] = range(len(df))
df.head()

   line         lng        lat   type  id
0  194路  104.030006  30.615915  depot   0
1  259路  104.103368  30.547144  depot   1
2  247路  104.078329  30.616545  depot   2
3  173路  103.920105  30.802135  depot   3
4  208路  103.980525  30.612064  depot   4

In [9]:
s.to_csv('..//data//line_path.csv',index=0)
df.to_csv('..//data//terminal-and-depots.csv',index=0)